*{
  border: red dotted 1px;
}

html{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #404040;

}

header{
  height: 4rem;
  font-size: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#logo{
 display: flex;
 height: 2rem;
 align-items: center;
 font-size: 1.7rem;
}

#logo img{
  height: 2.8rem;
}

#colmar{
  font-weight: medium;
}
#academy{
  font-weight: 300;

  color: #A9A9A9;
}

nav{
  font-size: 1.4rem;
  display: flex;
  flex-flow: row nowrap;
}

nav a{
  text-decoration: none;
  color: #404040;
  margin-left: 1rem;
  margin-right: 0rem;
}
